@import url('https://fonts.googleapis.com/css?family=Patua+One');

* {
  box-sizing: border-box;
}

header {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 3em;
  background-color: hsla(230, 100%, 50%, 0.58);
  padding: 2em;
}

img {
  margin: 0 auto;
  width: 50px;
}

h2 {
  font-family: 'Patua One', cursive;
  font-size: 3.5em;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

select {
  display: block;
  margin: 0 auto;
  padding: 10px 70px 10px 13px !important;
  max-width: 100%;
  height: auto !important;
  border: 1px solid #e3e3e3;
  border-radius: 3px;
}

iframe {
  border: 0;
  padding: 1.5em;
}
